*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family : Arial, Helvetica, sans-serif;
    background-color : #f4f4f4;
    color : #333;
    line-height : 1.6 rem;
    padding : 1 rem;
}
header{
    background-color : #35424a;
    color : #ffffff;
    padding : 1 rem 0;
    text-align : left;
    margin-left : 4 rem;
}
header h1{
    margin : 1%;
    font-size : 2 rem;
}
nav a{
    color : #ffffff;
    text-decoration : none;
    margin : 0 15px;
    font-size : 1.2 rem;
}
nav a:hover{
    text-decoration : underline;
}
.image img{
    width : 30%;
    height : auto;
    margin : 1%;
    display:block;
}
.hero text{
    position:absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    color : white;
    font-size : 2 rem;
    padding : 50px 20px;
}
main{
    margin : 1%;
}
.features{
    display : flex;
    justify-content : space-between;
    margin : 1%;
    padding: 0 1em;
}
.feature{
    background-color : #e2e2e2;
    padding : 1 rem;
    margin : 1%;
    flex : 1;
    text-align : center;
}
.gallery{
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(200px, 1fr));
    gap : 10px;
    margin : 1%;
}
.gallery-grid{
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(200px, 1fr));
    gap : 10px;
}
.gallery-grid img{
    width : 100%;
    height : auto;
}   
footer{
    text-align : center;
    padding : 1 rem 0;
    background-color : #8b9fac;
    color : #ffffff;
    position : fixed;
    bottom : 0;
    width : 100%;
}
@media (max-width : 600px){
    header h1{
        font-size : 1.5 rem;
    }
    nav a{
        display : block;
        margin : 1% 0;
    }
}