*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family : Arial, Helvetica, sans-serif;
    background-color : #f4f4f4;
    color : #333;
    line-height : 1.6 rem;
    padding : 1 rem;
}
header{
    background-color : #35424a;
    color : #ffffff;
    padding : 1 rem 0;
    text-align : left;
    margin-left : 4 rem;
}
header h1{
    margin : 1%;
    font-size : 2 rem;
}
nav a{
    color : #ffffff;
    text-decoration : none;
    margin : 0 15px;
    font-size : 1.2 rem;
}
nav a:hover{
    text-decoration : underline;
}
footer{
    text-align : center;
    padding : 1 rem 0;
    background-color : #8b9fac;
    color : #ffffff;
    position : fixed;
    bottom : 0;
    width : 100%;
}
@media (max-width : 600px){
    header h1{
        font-size : 1.5 rem;
    }
    nav a{
        display : block;
        margin : 1% 0;
    }
}