*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family : Arial, Helvetica, sans-serif;
    text-align: center;
    background-color : #4e434e;
    color : #ffffff;
    line-height : 1.6 rem;
    padding: 1 rem;
}
header{
    background-color : #3a2f3f;
    color : #ffffff;
    padding : 1 rem 0;
    text-align : center;
    margin-left : 4 rem;
}
header h1{
    font-size : 150%;
}
nav a{
    color : #ffffff;
    text-decoration : none;
    text-align:center;
    margin : 0 15px;
    font-size : 1.2 rem;
}
nav a:hover{
    text-decoration : underline;
    background-color: purple;
    border-radius: 3px;
    border-style:solid;
    border-color: white;
    padding: 3px;
    color: white;
}
main{
    margin: auto;
    width: 80%;
    padding: 10px;
    font-size: 1.5em;
    margin-top: 3%;
}
.me{
    margin: auto;
    width: 50%;
    height: 90%;
    padding: 10px;
    border-radius: 5%;
    float: left;
}
.project{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10%;
    float: right;
}
.project2{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10%;
    float: left;
}
.xbox{
    width: 50%;
    padding: 10px;
    border-radius: 5%;
    float: right;
}
footer{
    text-align : center;
    padding : 1 rem 0;
    background-color : #8b9fac;
    color : #ffffff;
    position : fixed;
    bottom : 0;
    width : 100%;
}
@media (max-width : 600px){
    header h1{
        font-size : 1.5 rem;
    }
    nav a{
        display : block;
        margin : 1% 0;
    }
}